/* Colours inspired by Material Design Lite:
 * https://getmdl.io/customize/index.html
 */

html {
  max-width: 900px;
  margin: 2em auto;
}

h1 { 
  line-height: normal; 
  border-bottom: 2px solid #333;
  margin-top: 40px;
}

h2, h3, h4, h5 {
  line-height: normal;
  margin: 10px 0 10px 0;
}

h4 {
  font-size: 1.1rem;
}

em {
  color: rgb(184, 55, 16);
}

a, a:hover, a:visited, a:active {
  color: rgb(48, 63, 159);
}

footer {
  margin-top: 4em;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 80%;
  padding-top: 1em;
  margin-bottom: 2em;
}

pre {
  margin-bottom: 0px !important; /* Overwrite uikit's default */
}

code {
  color: darkslateblue !important; /* Overwrite uikit's default */
  background-color: initial !important; /* Overwrite uikit's default */
}

.snippet-block > div {
  margin-bottom: 1em;
}

.no-result {
  font-size: 80%;
  color: #ccc;
  /* Remaining styles copied from uikit -> pre */
  overflow: auto;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background: #fff;
}

span[lang="de"] {
  color: inherit;
}

span[lang="en"] {
  /* color: #A300A3; */
  color: #6633ff; /* Moodle colour */
}

.copy-to-clipboard {
  /* cursor: url(../img/clipboard-arrow-up-outline.svg), copy; */
  cursor: pointer;
}

.copy-to-clipboard:hover {
  background-color: #eee;
}

.copy-to-clipboard:active {
  /* cursor: url(../img/clipboard-check-outline.svg), copy; */
  background-color: rgb(180, 255, 180);
}
