<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ base_url }}/theme/css/uikit.min.css">
  <link rel="stylesheet" href="{{ base_url }}/theme/css/highlight-github.css">
  <link rel="stylesheet" href="{{ base_url }}/theme/css/styles.css">

  <script>
    function updateClipboard(target) {
      // console.log(target);
      // console.log(target.parentElement);
      // console.log(target.parentElement.previousElementSibling);
      // console.log(target.parentElement.previousElementSibling.lastElementChild);
      // console.log(target.parentElement.previousElementSibling.lastElementChild.src);
      var imageHTML = "";

      try {
        elem = target.parentElement.previousElementSibling.lastElementChild

        if (!(elem instanceof HTMLImageElement)) {
          throw new Error(message);
        } else {
          imageHTML = `<p>${elem.outerHTML}</p>`;
        }
      } catch (error) {
        console.log(error);
      }

      content = imageHTML + target.innerHTML;

      navigator.clipboard.writeText(content).then(function() {
        console.log(`Copied ${content} to clipboard`)
      }, function() {
        window.alert("Could not copy to clipboard")
      });
    }    
  </script>
</head>

<body>
  <div class="content">
    {{ content }}
  </div>
  <footer>
    Last updated {{ last_updated }}
  </footer>
</body>
</html>
